:80 {
     handle /api/auth* {
        reverse_proxy auth-web:80
    }

     handle /api/workspace* {
        reverse_proxy workspace-web:80
    }
 
    handle /api/public* {
        reverse_proxy workspace-web:80
    }

    handle /api/finance* {
        reverse_proxy finance-web:80
    }

    handle /api/website* {
        reverse_proxy website-web:80
    }

    handle {
        respond "CEO Gateway is running!"
    }
}